<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Calendars</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->
<script type="text/javascript" 
   src="/static/js/busy.min.js">
</script>
	 
	
<div class="container">
    <form action="/conflicts" method="post">
<h2>Calendars</h2>
{% if session.calendars is defined  %}
<h5> Choose which calendars you would like to check for free times</h5>	
  {% for cal in session.calendars if cal.selected %}
          <div class="row-md-4">
	     <input id="{{cal.id}}" name="check1" type="checkbox" {% if cal.id in session.selected_cal|safe %} checked {% endif %}>
		  {{ cal.summary }}
          </div>
  {% endfor %}
  <br>
{% endif %} 
        <div class="row">
            <div class="col-sm-2">
                <button onclick="goBack()" id="back">Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
            </div>
            <div class="col-sm-4">
                <input type="submit" id="button" value="Next" />
            </div>
        </div>
	</form>
</div>